@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom CSS Variables */
@layer base {
  :root {
    --gray1: 0 0% 99%;
    --gray2: 0 0% 98%;
    --gray3: 0 0% 94%;
    --gray4: 0 0% 91%;
    --gray5: 0 0% 88%;
    --gray6: 0 0% 85%;
    --gray7: 0 0% 81%;
    --gray8: 0 0% 73%;
    --gray9: 0 0% 55%;
    --gray10: 0 0% 51%;
    --gray11: 0 0% 39%;
    --gray12: 0 0% 13%;

    --grayDark1: 0 0% 7%;
    --grayDark2: 0 0% 10%;
    --grayDark3: 0 0% 13%;
    --grayDark4: 0 0% 16%;
    --grayDark5: 0 0% 19%;
    --grayDark6: 0 0% 23%;
    --grayDark7: 0 0% 28%;
    --grayDark8: 0 0% 38%;
    --grayDark9: 0 0% 43%;
    --grayDark10: 0 0% 48%;
    --grayDark11: 0 0% 71%;
    --grayDark12: 0 0% 93%;

    /* App Backgrounds */
    --bg-base: var(--gray1);
    --bg-subtle: var(--gray2);

    /* Component Background */
    --bg-primary: var(--gray3);
    --bg-primary-hover: var(--gray4);
    --bg-primary-active: var(--gray5);

    --bg-primary-reverse: var(--grayDark3);
    --bg-primary-reverse-hover: var(--grayDark4);
    --bg-primary-reverse-active: var(--grayDark5);

    /* Borders */
    --border-line: var(--gray6);
    --border-primary: var(--gray7);
    --border-primary-hover: var(--gray8);

    /* Solid Background */
    --bg-solid: var(--gray9);
    --bg-solid-hover: var(--gray10);

    /* Text */
    --text-primary: var(--gray12);
    --text-primary-reverse: var(--greyDark12);
    --text-secondary: var(--gray11);
    --text-tertiary: var(--gray10);

    /* Box Shadow */
    --shadow-focus: 0 0 0 2px var(--bg-primary), 0 0 0 4px var(--text-primary);

    /* Height */
    --header-height: 4rem;
  }

  .dark {
    /* App Backgrounds */
    --bg-base: var(--grayDark1);
    --bg-subtle: var(--grayDark2);

    /* Component Background */
    --bg-primary: var(--grayDark3);
    --bg-primary-hover: var(--grayDark4);
    --bg-primary-active: var(--grayDark5);

    --bg-primary-reverse: var(--gray3);
    --bg-primary-reverse-hover: var(--gray4);
    --bg-primary-reverse-active: var(--gray5);

    /* Borders */
    --border-line: var(--grayDark6);
    --border-primary: var(--grayDark7);
    --border-primary-hover: var(--grayDark8);

    /* Solid Background */
    --bg-solid: var(--grayDark9);
    --bg-solid-hover: var(--grayDark10);

    /* Text */
    --text-primary: var(--grayDark12);
    --text-primary-reverse: var(--gray12);
    --text-secondary: var(--grayDark11);
    --text-tertiary: var(--grayDark10);

    /* TODO: change it */
    --bg-scroll-thumb: #333333;
    --shadow-focus: 0 0 0 2px var(--bg-primary), 0 0 0 4px var(--text-primary);
  }
}

@layer components {
  .text-gradient {
    @apply bg-gradient-to-br from-black via-black via-20% to-black/30 bg-clip-text text-transparent dark:from-white dark:via-white dark:to-white/30;
  }
}

/* Custom CSS Reset from https://www.joshwcomeau.com/css/custom-css-reset/ */

*,
*::before,
*::after {
  box-sizing: border-box;
  border-width: 0;
  border-style: solid;
  border-color: hsl(var(--border-primary));
}

* {
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
  overflow-x: hidden;
}

body {
  /* https://www.joshwcomeau.com/css/custom-css-reset/#digit-tweaking-line-height */
  line-height: calc(1em + 0.5rem);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type='number'] {
  -moz-appearance: textfield;
  appearance: textfield;
  margin: 0;
}

button {
  padding: 0;
  border-width: 0;
  background: none;
  cursor: pointer;
}

button:disabled {
  cursor: not-allowed;
}

a {
  color: inherit;
  text-decoration: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

#root,
#__next {
  isolation: isolate;
}

/* TODO: improve it because of code block */
/* ::selection {
  background-color: var(--bg-primary-hover);
  color: var(--text-primary);
} */

/* Show Line Numbers in Code */
code {
  counter-reset: line;
}

code > [data-line]::before {
  counter-increment: line;
  content: counter(line);

  display: inline-block;
  width: 1rem;
  margin-right: 2rem;
  text-align: right;
  color: hsl(var(--border-primary));
}
